{% extends "finance/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block js %}
<script src="//cdn.amcharts.com/lib/4/core.js"></script>
<script src="//cdn.amcharts.com/lib/4/charts.js"></script>
<script src="//cdn.amcharts.com/lib/4/maps.js"></script>

<script src="{% static "finance/chart.js" %}"></script>
<script src="{% static "finance/chart_plan.js" %}"></script>

{% endblock %}

{% block content %}

<!-- Top NavBar -->
<nav id="scanfcode" class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" id="toogle-button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <a id="logo" class="navbar-brand" href="/home">FinCander</a>
            <a id="logo" class="navbar-brand">{{ last_year }}|{{ last_month }}</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">

            <ul id="link" class="nav navbar-nav navbar-right">
                <li class="dropdown" id="month-link">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Month <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'budgeting_first_view' year=last_year month=1 %}">January</a></li>
                        <li><a href="{% url 'budgeting_first_view' year=last_year month=2 %}">February</a></li>
                        <li><a href="{% url 'budgeting_first_view' year=last_year month=3 %}">March</a></li>
                        <li><a href="{% url 'budgeting_first_view' year=last_year month=4 %}">April</a></li>
                        <li><a href="{% url 'budgeting_first_view' year=last_year month=5 %}">May</a></li>
                        <li><a href="{% url 'budgeting_first_view' year=last_year month=6 %}">June</a></li>
                        <li><a href="{% url 'budgeting_first_view' year=last_year month=7 %}">July</a></li>
                        <li><a href="{% url 'budgeting_first_view' year=last_year month=8 %}">August</a></li>
                        <li><a href="{% url 'budgeting_first_view' year=last_year month=9 %}">September</a></li>
                        <li><a href="{% url 'budgeting_first_view' year=last_year month=10 %}">October</a></li>
                        <li><a href="{% url 'budgeting_first_view' year=last_year month=11 %}">November</a></li>
                        <li><a href="{% url 'budgeting_first_view' year=last_year month=12 %}">December</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="year-link">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Year <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'budgeting_first_view' year=2023 month=last_month %}">2023</a></li>
                        <li><a href="{% url 'budgeting_first_view' year=2024 month=last_month %}">2024</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="first-link">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">More <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Further Extension 1</a></li>
                        <li><a href="#">Further Extension 2</a></li>
                    </ul>
                </li>
                <li><a href='#'>Profile</a></li>
                <li id="button-link"><a href="{% url 'logout' %}">Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="container">
        <div class="sub-container">

            <!-- Income -->
            <form method="POST">
                {% csrf_token %}
                <div class="income-input-container">
                    <h3>Income</h3>
                    {% render_field income_form.title_income class="income-input-container" %}
                    {% render_field income_form.amount_income class="income-input-container" placeholder="Amount"%}
                    {% render_field income_form.date_income class="income-input-container" placeholder="Date"%}
                    <button class="submit" id="income-input-button" type="submit" name="income_btn">Add Income</button>
                </div>
            </form>


            <!-- Plan -->
            <form method="POST">
                {% csrf_token %}
                <div class="plan-input-container">
                <h3>Plan</h3>
                    {% render_field plan_form.category_plan class="select-category" %}
                    {% render_field plan_form.amount_plan class="plan-input-container" placeholder="Amount" %}



                <button class="plan-submit" id="plan-input-button" name="plan_btn">Add Plan</button>
            </div>
            </form>

            <!-- Expense -->
            <div class="expense-input-container">
                <h3>Expense</h3>
                <form method="POST">
                    {% csrf_token %}
                    {% render_field expense_form.category_plan class="select-category" %}
                    {% render_field expense_form.amount_expense class="expense-input-container" placeholder="Amount" %}
                    {% render_field expense_form.date_expense class="expense-input-container" placeholder="Date" %}


                <button class="submit" id="check-amount" name="expense_btn">Add Expense</button>
                </form>
            </div>
        </div>
        <!-- Output -->
        <div class="output-container flex-space">
            <div>
                <p>Total Income</p>
                <span id="income-value">{{ income_total }}</span>
            </div>
            <div>
                <p>Total Plan</p>
                <span id="plan-value">{{ plan_total }}</span>
            </div>
            <div>
                <p>Total Expenses</p>
                <span id="expense-value">{{ expense_total }}</span>
            </div>
            <div>
                <p>Execution</p>
                <span id="execution-value">{{ final_budget_execution }}</span>
            </div>

        </div>
    </div>
</div>


<div class="wrapper">
    <!-- Chart Summary -->
    <div class="list">
        <h3>Summary Chart</h3>
        <div class="chart-space" id="chart"></div>
        <div id="chartdiv"></div>
    </div>
</div>

<div class="wrapper">
    <!-- Chart Summary 2 -->
    <div class="list">
        <h3>Summary Chart</h3>
        <div class="chart-space" id="chart-plan"></div>
        <div id="chartdiv-plan"></div>
    </div>
</div>



<div class="wrapper">
    <!-- List Container - Flex space for lists -->
    <div class="container flex-space-for-history-list">
        <!-- List Income -->
        <div class="history-list">
            <h3>Income List</h3>
            <div class="list-container" id="income-list">
                {% for income_obj in income_data %}
                    <p class="clearfix">{{ forloop.counter }}. {{ income_obj.title_income }} ${{ income_obj.amount_income }}
                       <span class="right-align-list"> {{ income_obj.date_income }} (Edit/Delete)</span></p>
                {% endfor %}
            </div>
        </div>

        <!-- List Plan -->
        <div class="history-list">
            <h3>Plan List</h3>
            <div class="list-container" id="plan-list">
                {% for plan_obj in plan_data %}
                   <p class="clearfix">{{ forloop.counter }}. {{ plan_obj.category_plan }}  ${{ plan_obj.amount_plan }}
                       <span class="right-align-list">(Edit/Delete)</span></p>
                {% endfor %}
            <!--do usuniecia: 1. Main salary $1250 2023-06-06<p class="right-align-list">(Edit/Delete)</p> -->

            </div>
        </div>

        <!-- List Expense -->
        <div class="history-list">
            <h3>Expense List</h3>
            <div class="list-container" id="expense-list">
                {% for expense_obj in expense_data %}
                    <p>{{ forloop.counter }}. {{ expense_obj.category_plan }} ${{expense_obj.amount_expense}}
                        {{expense_obj.date_expense}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
